<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bubo.property.mapper.PropertyTypeMapper">
    
    <resultMap type="PropertyType" id="PropertyTypeResult">
        <result property="id"    column="ID"    />
        <result property="objId"    column="OBJ_ID"    />
        <result property="pid"    column="PID"    />
        <result property="typeName"    column="TYPE_NAME"    />
        <result property="typeCode"    column="TYPE_CODE"    />
        <result property="geographyType"    column="GEOGRAPHY_TYPE"    />
        <result property="strokeColour"    column="STROKE_COLOUR"    />
        <result property="strokeWeight"    column="STROKE_WEIGHT"    />
        <result property="fillColour"    column="FILL_COLOUR"    />
        <result property="mapIcon"    column="MAP_ICON"    />
        <result property="dorgId"    column="DORG_ID"    />
        <result property="deleteFlag"    column="DELETE_FLAG"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="createUser"    column="CREATE_USER"    />
    </resultMap>

    <sql id="selectPropertyTypeVo">
        select ID, OBJ_ID, PID, TYPE_NAME, TYPE_CODE, GEOGRAPHY_TYPE, STROKE_COLOUR, STROKE_WEIGHT, FILL_COLOUR, MAP_ICON, DORG_ID, DELETE_FLAG, CREATE_TIME, UPDATE_TIME, CREATE_USER from property_type
    </sql>

    <select id="selectPropertyTypeList" parameterType="PropertyType" resultMap="PropertyTypeResult">
        <include refid="selectPropertyTypeVo"/>
        <where>  
            <if test="objId != null  and objId != ''"> and OBJ_ID = #{objId}</if>
            <if test="pid != null  and pid != ''"> and PID = #{pid}</if>
            <if test="typeName != null  and typeName != ''"> and TYPE_NAME like concat('%', #{typeName}, '%')</if>
            <if test="typeCode != null  and typeCode != ''"> and TYPE_CODE = #{typeCode}</if>
            <if test="geographyType != null  and geographyType != ''"> and GEOGRAPHY_TYPE = #{geographyType}</if>
            <if test="strokeColour != null  and strokeColour != ''"> and STROKE_COLOUR = #{strokeColour}</if>
            <if test="strokeWeight != null  and strokeWeight != ''"> and STROKE_WEIGHT = #{strokeWeight}</if>
            <if test="fillColour != null  and fillColour != ''"> and FILL_COLOUR = #{fillColour}</if>
            <if test="mapIcon != null  and mapIcon != ''"> and MAP_ICON = #{mapIcon}</if>
            <if test="dorgId != null  and dorgId != ''"> and DORG_ID = #{dorgId}</if>
            <if test="deleteFlag != null  and deleteFlag != ''"> and DELETE_FLAG = #{deleteFlag}</if>
            <if test="createTime != null  and createTime != ''"> and CREATE_TIME = #{createTime}</if>
            <if test="updateTime != null  and updateTime != ''"> and UPDATE_TIME = #{updateTime}</if>
            <if test="createUser != null  and createUser != ''"> and CREATE_USER = #{createUser}</if>
        </where>
    </select>
    
    <select id="selectPropertyTypeById" parameterType="Long" resultMap="PropertyTypeResult">
        <include refid="selectPropertyTypeVo"/>
        where ID = #{id}
    </select>
        
    <insert id="insertPropertyType" parameterType="PropertyType" useGeneratedKeys="true" keyProperty="id">
        insert into property_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="objId != null">OBJ_ID,</if>
            <if test="pid != null">PID,</if>
            <if test="typeName != null">TYPE_NAME,</if>
            <if test="typeCode != null">TYPE_CODE,</if>
            <if test="geographyType != null">GEOGRAPHY_TYPE,</if>
            <if test="strokeColour != null">STROKE_COLOUR,</if>
            <if test="strokeWeight != null">STROKE_WEIGHT,</if>
            <if test="fillColour != null">FILL_COLOUR,</if>
            <if test="mapIcon != null">MAP_ICON,</if>
            <if test="dorgId != null">DORG_ID,</if>
            <if test="deleteFlag != null">DELETE_FLAG,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="createUser != null">CREATE_USER,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="objId != null">#{objId},</if>
            <if test="pid != null">#{pid},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="typeCode != null">#{typeCode},</if>
            <if test="geographyType != null">#{geographyType},</if>
            <if test="strokeColour != null">#{strokeColour},</if>
            <if test="strokeWeight != null">#{strokeWeight},</if>
            <if test="fillColour != null">#{fillColour},</if>
            <if test="mapIcon != null">#{mapIcon},</if>
            <if test="dorgId != null">#{dorgId},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createUser != null">#{createUser},</if>
         </trim>
    </insert>

    <update id="updatePropertyType" parameterType="PropertyType">
        update property_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="objId != null">OBJ_ID = #{objId},</if>
            <if test="pid != null">PID = #{pid},</if>
            <if test="typeName != null">TYPE_NAME = #{typeName},</if>
            <if test="typeCode != null">TYPE_CODE = #{typeCode},</if>
            <if test="geographyType != null">GEOGRAPHY_TYPE = #{geographyType},</if>
            <if test="strokeColour != null">STROKE_COLOUR = #{strokeColour},</if>
            <if test="strokeWeight != null">STROKE_WEIGHT = #{strokeWeight},</if>
            <if test="fillColour != null">FILL_COLOUR = #{fillColour},</if>
            <if test="mapIcon != null">MAP_ICON = #{mapIcon},</if>
            <if test="dorgId != null">DORG_ID = #{dorgId},</if>
            <if test="deleteFlag != null">DELETE_FLAG = #{deleteFlag},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="createUser != null">CREATE_USER = #{createUser},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deletePropertyTypeById" parameterType="Long">
        delete from property_type where ID = #{id}
    </delete>

    <delete id="deletePropertyTypeByIds" parameterType="String">
        delete from property_type where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>